<div class="center">
  <img class="logo" src="https://s3-us-west-1.amazonaws.com/blockstack-sandbox/blockstack-bucket.svg" />
  <h1>Blockstack Sandbox</h1>
  <div class="subheader">Play around with Blockstack's decentralized app platform.</div>
  <form>
    <button {{action "authenticate"}}>Authenticate your identity with Blockstack</button>
  </form>
</div>
